/system
/user_guide
.editorconfig
.htaccess
composer.json
contributing.md
index.php
license.txt
readme.rst
/admin/system
/application/config/config.php
/application/config/database.php
/admin/application/config/config.php
/admin/application/config/database.php
